<div class="card" style="width: 100%;">
  <div 
    [ngClass]="{
    'card text-white bg-primary mb-3': flag && !cardData.foiFeita,
    'card bg-warning mb-3': !flag && !cardData.foiFeita,
    'card bg-secondary text-white mb-3 card-disabled': cardData.foiFeita
  }"
  >
    <div class="card-body">
      <h4 class="card-title">Ref:{{cardData.pacoteReferencia}}-{{cardData.produtoDescricao}}</h4>
      Tit:{{cardData.tituloCupom}}<br>
      Seq:{{cardData.sequencia}}<br>
      Qtd:{{ cardData.quantidade }}<br>
      Tempo:{{ cardData.tempoTotal }}<br>
      <div *ngIf="cardData.funcionario !=null">
            Funcionário:{{cardData.funcionario}}<br>
      </div>
    

      <button 
        [disabled]="cardData.foiFeita" 
        type="button" 
        [ngClass]="flag ? 'btn btn-warning' : 'btn btn-danger'"
        (click)="AlterarCard()"
      >
        {{nomeDoBotao}}
      </button>
       <!-- Q2 no canto inferior direito -->
      <span
       *ngIf="cardData?.quebraManual !== '' "
            class="badge bg-secondary"
            style="font-size: 1.2rem;"
        >
          Q2
    </span>
    </div>
  </div>
</div>