<div class="card">
    <h4 class="card-header">Login</h4>
    <div class="card-body">

<!-- devices -->
<div class="row">
    <div class="col-xs-12 col-md-6 col-lg-4 col-xl-3 my-1">
      <select [ngModel]="null" (ngModelChange)="action.playDevice($event)" class="form-select form-select-sm">
        <option [value]="null" selected>Select device</option>
        <option *ngFor="let c of action.devices.value; let i = index" [ngValue]="c.deviceId" [selected]="i == action.deviceActive">{{c.label}}</option>
      </select>
    </div>
  </div>

       
  <!-- ngx-scanner-qrcode -->
  <ngx-scanner-qrcode #action="scanner" [config]="config" (event)="onEvent($event)"></ngx-scanner-qrcode>
  <!-- data  -->
  <!-- <p class="data">{{ (action.data | async | json) }}</p> -->

  <!-- loading -->
  <p *ngIf="action.isLoading">⌛ Loading...</p>

  <!-- start/stop -->
  <button class="btn" [class.btn-info]="!action.isStart" [class.btn-warning]="action.isStart" [disabled]="action.isLoading" (click)="handle(action, action.isStart ? 'stop' : 'start')">
    <img [src]="action.isStart ? 'https://id1945.github.io/images/svg/camera-off.svg' : 'https://id1945.github.io/images/svg/camera-on.svg'" width="30px"/>
  </button>

  <!-- play/pause -->
  <button class="btn" [class.btn-info]="!action.isStart" [class.btn-warning]="action.isStart" [disabled]="!action.isStart" (click)="handle(action, action.isPause ? 'play' : 'pause')">
    <img [src]="action.isPause ? 'https://id1945.github.io/images/svg/play.svg': 'https://id1945.github.io/images/svg/pause.svg'" width="30px"/>
  </button>

   
  <br>
  

       <!--<button (click)="chamarCamera()">CHAMAR CAMERA</button>
        <button (click)="desahabilitar()">fechar CAMERA</button>
        <ng-container *ngIf="!disableScanner">
        <qr-scanner
        [debug]="false"
        [canvasWidth]="1080" 
        [canvasHeight]="720" 
        [stopAfterScan]="true"
        [updateTime]="500"> 
        </qr-scanner>
    </ng-container>

        <ng-container *ngIf="!disableScanner">
            <video qrScanner (scan)="onScanSuccess($event)" width="50%"></video>

          

        </ng-container> -->


        


        <form [formGroup]="form" (ngSubmit)="onSubmit()">
          <div class="form-group">
            <label for="username">Usuário</label>
            <input type="text" formControlName="username" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.username.errors }" />
            <div *ngIf="submitted && f.username.errors" class="invalid-feedback">
                <div *ngIf="f.username.errors.required">Login é obrigatório</div>
            </div>
        </div>
          <div class="form-group">
            <button [disabled]="loading" class="btn btn-primary">
                <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
                Logar
            </button>
            <!--<a routerLink="../register" class="btn btn-link">Criar Conta</a>-->
        </div>
        </form>
    </div>
</div> 